
.howto {
  display: flex;
  justify-content: space-between;
}

.howto > div > div {
  flex: 1;
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 8px;
  background-color: var(--background-color);
}

.howto h3 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-s);
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 8px;
}

.howto p {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  color: var(--text-color);
  margin-top: 0;
}
