
.columns {
  display: flex;
  align-items: center;
  padding: 20px;
}

.columns > div {
  display: flex;
  flex: 1;
}

.columns picture {
  flex: 1;
  margin-right: 20px;
}

.columns h2 {
  font-size: var(--heading-font-size-xl);
  color: var(--text-color);
  margin-bottom: 10px;
}

.columns p {
  font-size: var(--body-font-size-s);
  color: var(--text-color);
}

.columns a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid var(--link-color);
  border-radius: 30px;
  color: var(--link-color);
  text-decoration: none;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
}
