
.support {
  display: flex;
  justify-content: space-between;
}

.support > div {
  flex: 1;
  margin: 0 10px;
}

.support h3 {
  font-size: var(--heading-font-size-m);
  font-weight: 700;
}

.support ul {
  list-style: disc;
  padding-left: 20px;
}

.support ul ul {
  list-style: circle;
  padding-left: 20px;
}

.support a {
  color: var(--link-color);
  text-decoration: none;
}

.support a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.support .button.secondary {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid black;
  text-decoration: none;
  font-weight: 600;
  color: black;
  background-color: white;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}
